/* Estilos para el encabezado */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  margin-bottom: 20px; /* Ajusta el margen inferior del logo según sea necesario */
}

.sidebar {
  width: 220px; /* Ancho del menú lateral */
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}

.category {
  list-style: none;
  margin-bottom: 10px;
}

.category > ul {
  display: none; /* Oculta las subcategorías por defecto */
}

.category.active > ul {
  display: block; /* Muestra las subcategorías cuando la categoría está activa */
}

.category > a {
  text-decoration: none;
  color: #333;
  display: block;
  cursor: pointer;
}

.category > a:hover {
  color: #555;
}

.subcategory {
  margin-left: 10px; /* Ajusta la indentación de las subcategorías */
}

.product {
  margin-left: 20px; /* Ajusta la indentación de los productos */
}

/* Estilos para el contenido principal */
.content-container {
  margin-left: 240px; /* Ancho del menú lateral + 20px de espacio adicional */
  margin-top: 20px;
  padding: 20px;
  text-align: center; /* Centra el texto en el contenido principal */
}

/* Estilos para los productos */
.product {
  display: inline-block;
  margin-right: 20px;
}

/* Establecer un tamaño fijo para las imágenes de los productos */
.product img {
  width: 100px; /* Tamaño deseado */
  height: auto;
}
