/* Define la fuente para todo el documento */
body {
  font-family: 'Caveat', cursive; /* Fuente cursiva */
  background-color: sandybrown; /* Color de fondo */
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

/* Estilos para las tarjetas de producto */
.product-card {
  border: 1px solid sandybrown;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

/* Estilo para las imágenes dentro de las tarjetas de producto */
.product-card img {
  width: 50%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  border-radius: 5px; /* Agrega bordes redondeados a la imagen */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto de hover */
}

/* Efecto de hover para las imágenes */
.product-card img:hover {
  transform: scale(1.05); /* Hace que la imagen se agrande ligeramente al pasar el cursor sobre ella */
}

/* Estilo para el botón de MercadoPago */
.mercadoPagoButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightcoral; /* Color de fondo del botón */
  color: black; /* Color del texto del botón */
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.mercadoPagoButton:hover {
  background-color: lightcoral; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
