/* Define la fuente para todo el documento */
body {
  font-family: 'Caveat', cursive; /* Fuente cursiva */
  background-color: sandybrown; /* Color de fondo */
}

/* Aplica flexbox al contenedor principal */
.container {
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la ventana del navegador */
}

/* Estilos para las tarjetas de producto */
.product-card {
  border: 1px solid sandybrown;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

/* Estilo para las imágenes dentro de las tarjetas de producto */
.product-card img {
  width: 50%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  border-radius: 5px; /* Agrega bordes redondeados a la imagen */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto de hover */
}

/* Efecto de hover para las imágenes */
.product-card img:hover {
  transform: scale(1.05); /* Hace que la imagen se agrande ligeramente al pasar el cursor sobre ella */
}

